<!-- side-box-nav.html -->
<div class="side-box">
  <div class="t">
    <div class="b">
      <div class="inner">
        <h2>Doctor Mindy Curry, N.D.</h2>
        <ul class="side-nav">
          <li><a href="meetdoctor.html" title="Meet the Doctor">Meet the Doctor</a></li>
          <li><a href="naturopathicmedecine.html" title="Naturopathic Medecine">What is Naturopathic Medicine</a></li>
          <li><a href="tenets.html" title="Tenets of Naturopathic Medecine">Tenets of Naturopathic Medecine</a></li>
          <li><a href="feeschedule.html" title="Scheduling of Fees">Fee Schedule</a></li>
          <li><a href="videos.html" title="Latest Videos by Dr. Mindy Curry">Latest Videos by Dr. Mindy Curry</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>