<!-- side-box-nav.html -->
<div class="side-box">
  <div class="t">
    <div class="b">
      <div class="inner">
        <h2>Doctor Mindy Curry, N.D.</h2>
        <ul class="side-nav">
          <li class="sb-meetdoctor">
            <a href="meetdoctor.html" title="Meet the Doctor" class="sb-meetdoctor">Meet the Doctor</a>
          </li>
          <li>
            <a href="naturopathicmedecine.html" title="Naturopathic Medecine">What is Naturopathic Medicine</a>
          </li>
          <li>
            <a href="tenets.html" title="Tenets of Naturopathic Medecine">Tenets of Naturopathic Medecine</a>
          </li>
          <li class="sb-faq">
            <a href="faq.html" title="Frequently Asked Questions" class="sb-faq">Frequently Asked Questions</a>
          </li>
          <li>
            <a href="feeschedule.html" title="Scheduling of Fees">Fee Schedule</a>
          </li>
          <li>
            <a href="videos.html" title="Latest Videos by Dr. Mindy Curry">Latest Videos by Dr. Mindy Curry</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>